@import '../../../../styles/variables';

.banner-container {
  width: 100%;
  position: relative;
  top: 10px;

  .banner-slide {
    position: relative;
    width: 100%;
    height: 85vh;

    .banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(90%);
    }
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: $text-color;
    text-align: center;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    width: 80%;

    h2 {
      font-size: 3rem;
      margin-bottom: 15px;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 25px;
      line-height: 1.5;
    }

    button {
      background-color: $primary-color;
      padding: 12px 35px;
      color: #fff;
      font-size: 1.2rem;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      border: none;

      &:hover {
        background-color: $second-color;
        transform: scale(1.05);
      }
    }
  }



  @media (max-width: 992px) {
    .banner-slide {
      height: 60vh;
    }

    .banner-contents {
      h2 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.2rem;
      }
      button {
        font-size: 1rem;
        padding: 10px 25px;
      }
    }
  }

  @media (max-width: 576px) {
    .banner-slide {
      height: 50vh;
    }

    .banner-contents {
      width: 90%;
      top: 55%;
      h2 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1rem;
      }
      button {
        font-size: 0.9rem;
        padding: 8px 20px;
      }
    }
  }
}
