$primary-color: #4a2b0f;
$second-color: #a47f4f;
$text-color: #4a2b0f;

$font-main: 'Roboto', sans-serif !important;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
